{% extends 'main.html' %}
{% load static %}

{% block content %}
<style>

</style>


<div class="pagetitle">
  <h1>All Student</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item">All Student</li>
      <li class="breadcrumb-item"></li>
    </ol>
  </nav>
</div>
<section class="section">
    <div class="container-fluid">
      <div class="container">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addStudent1"><i class="bi bi-person-square"></i>. Add Student</button>
        <a href="{% url 'import-students' %}"><button type="button" class="btn btn-primary"><i class="bi bi-upload"></i>. Import Students</button></a>
        <button data-bs-toggle="modal" data-bs-target="#deleteAllStudent1" type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i>. Delete all Students</button>
        <button data-bs-toggle="modal" data-bs-target="#filterStudent" type="button" class="btn btn-info text-white"><i class="bi bi-filter"></i>. Filters</button>
        
      </div>
      <table class="table">
        <h2 class="mt-5">Total Students: {{ student|length }}</h2>
        {% if student %}
        
        <thead>
          
          <tr>
            <th>S/N</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Matric No</th>
            <th>Department</th>
            <th>Action</th>
          </tr>
        </thead>
        
        <tbody>
          {% for i in student %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.first_name}}</td>
            <td>{{i.last_name}}</td>
            <td>{{i.userid}}</td>
            <td>{{i.department}}</td>
            <td> <a href="{% url 'edit-student' i.id %}?next={{ request.GET.next }}"><button type="button" class="btn btn-success" >Edit</button></a></td>
          </tr>
          {% endfor %}
        </tbody>
        {% else %}
          <center><h2 style="font-weight: bolder;" class="text-danger mt-5"> NO STUDENT FOUND</h2></center>
          {% endif %}
      </table>

    </div>
</section>


<div class="modal fade" id="addStudent1" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'add-student' %}?next={{ request.GET.next }}">
          {% csrf_token %}
          <div class="mb-3 mt-3">
            <input name ='first_name' type="text" class="" placeholder=" First Name of the Student" required>
          </div>

          <div class="mb-3 mt-3">
            <input name ='last_name' type="text" class="" placeholder="Last Name of the Student" required>
          </div>

          <div class="mb-3 mt-3">
            <input name ='matric' type="text" class="" placeholder="Matric No of the Student" required>
          </div>

          <div class="mb-3 mt-3">
            <select class="select" name='department' required>
              <option value="">Choose Student Department</option>
              {% for i in department %}
              <option class="mt-3" value="{{i.name}}">{{i.name}}</option>
              {% endfor %}
            </select>
          </div>

          <p class="mt-3 text-danger">
              <li class=" text-danger">Avoid Typo error.</li>
              <li class=" text-danger">Default password for all students to login is "student Lastname"</li>
          </p>

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn" style=" background-color: #ffb03b; color: white;">Submit</button>
      </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="deleteAllStudent1" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete All Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="font-weight: bolder;">
          !!!! ARE YOU SURE YOU WANT TO DELETE ALL STUDENTS
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'del-all-student' %}?next={{ request.GET.next }}"><button type="button" class="btn btn" style=" background-color: #E6101B; color: white;">Yes, Sure</button></a>
      
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="filterStudent" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filter Student</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="get">
          <div class="mb-3 mt-3">
            <input name ='first_name' type="text" class="" placeholder=" First Name of the Student" >
          </div>

          <div class="mb-3 mt-3">
            <input name ='last_name' type="text" class="" placeholder="Last Name of the Student" >
          </div>

          <div class="mb-3 mt-3">
            <input name ='userid' type="text" class="" placeholder="Matric No of the Student" >
          </div>

          <div class="mb-3 mt-3">
            <select class="select" name='department'>
              <option value="">Choose Department</option>
              {% for i in department %}
              <option value="{{i.id}}">{{i.name}}</option>
              {% endfor %}
            </select>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" >Filter</button>
      </form>
      </div>
    </div>
  </div>
</div>




{% endblock content %}