{% extends 'main.html' %}
{% load static %}

{% block content %}
<style>
</style>

<div class="pagetitle">
  <h1>Change Password</h1>
  <nav>
    <ol class="breadcrumb">
      {% if user.groups.all.0.name == 'admin' %}
      <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
      {% endif %}
      {% if user.groups.all.0.name == 'student' %}
      <li class="breadcrumb-item"><a href="{% url 'student_dashboard' %}">Dashboard</a></li>
      {% endif %}
      <li class="breadcrumb-item">Change Password</li>
      <li class="breadcrumb-item"></li>
    </ol>
  </nav>
</div>
<section class="section">
    <div class="container">
        <center>
        <div class="p-5 col-lg-7">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Change Password</h1>
            </div>
            <form method="POST" class="user">
                {% csrf_token %}
                <div class="mb-3 mt-3">
                    <input name ='old_password' type="text" class="" placeholder="OLD PASSWORD" required>
                  </div>
                  <div class="mb-3 mt-3">
                    <input name ='new_password1' type="text" class="" placeholder="NEW PASSWORD" required>
                  </div>
                  <div class="mb-3 mt-3">
                    <input name ='new_password2' type="text" class="" placeholder="CONFIRM NEW PASSWORD" required>
                  </div>
                <button type="submit" class="btn btn-success btn-user btn-block">
                    Change Password
                </button>
                <hr>
              </form>
    </div>
</center>
</div>


</section>
{% endblock content %}