{% extends 'main.html' %}
{% load static %}

{% block content %}
<style>
</style>

<section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2><span id="greeting-icon"></span> <span id="greeting-text"></span> {{user.first_name}}</h2>
        <ol>
          <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
          <li>Courses</li>
          <li></li>
        </ol>
      </div>

    </div>
  </section>



  <section class="inner-page">
    <div class="container-fluid">
      <div class="container">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addCourse"><i class="bi bi-book-fill"></i>. Add Course</button>
        <a href="{% url 'import-courses' %}"><button type="button" class="btn btn-primary"><i class="bi bi-book-half"></i>. Import Courses</button></a>
        <a href="#"><button data-bs-toggle="modal" data-bs-target="#deleteAllCourse" type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i>. Delete all Courses</button></a>
      </div>
      <table class="table">
        <h2 class="mt-5">Total Students: {{ course|length }}</h2>
        {% if course %}
        
        <thead>
          
          <tr>
            <th>Course Name</th>
            <th>Department</th>
            <th>Total Marks</th>
            <th>Duration</th>
            <th>Action</th>
          </tr>
        </thead>
        
        <tbody>
          {% for i in course %}
          <tr>
            <td>{{i.name}}</td>
            <td>{{i.department}}</td>
            <td>{{i.total_marks}}</td>
            <td>{{i.duration}} minutes</td>
            <td> <a href="{% url 'delete-student1' i.id %}?next={{ request.GET.next }}"><button type="button" class="btn btn" style=" background-color: #E6101B; color: white;">Delete</button></a></td>
          </tr>
          {% endfor %}
        </tbody>
        {% else %}
          <center><h2 style="font-weight: bolder;" class="text-danger mt-5"> NO STUDENT FOUND</h2></center>
          {% endif %}
      </table>

    </div>
</section>
{% endblock content %}