{% extends 'main.html' %}
{% load static %}

{% block content %}
<style>

</style>

<section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2><span id="greeting-icon"></span> <span id="greeting-text"></span> {{user.first_name}}</h2>
        <ol>
          <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
          <li>Department</li>
          <li></li>
        </ol>
      </div>

    </div>
  </section>



  <section class="inner-page">
    <div class="container-fluid">
        <div class="container">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addDepartment"><i class="bi bi-bank2"></i>. Add Department</button>
            
          </div>
          <table class="table">
            <h2 class="mt-5">Total Department: {{ department|length }}</h2>
            {% if department %}
            
            <thead>
              
              <tr>
                <th>S/N</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
            </thead>
            
            <tbody>
              {% for i in department %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.name}}</td>
                <td> <a href="{% url 'delete-department' i.id %}?next={{ request.GET.next }}"><button type="button" class="btn btn" style=" background-color: #E6101B; color: white;">Delete</button></a></td>
              </tr>
              {% endfor %}
            </tbody>
            {% else %}
              <center><h2 style="font-weight: bolder;" class="text-danger mt-5"> NO DEPARTMENT FOUND</h2></center>
              {% endif %}
          </table>
    
        </div>

    </div>
</section>
{% endblock content %}