{% extends 'main.html' %}
{% load static %}

{% block content %}
<style>

</style>

<div class="pagetitle">
  <h1>Department</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item">Department</li>
      <li class="breadcrumb-item"></li>
    </ol>
  </nav>
</div>
<section class="section">
    <div class="container-fluid">
        <div class="container">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addDepartment"><i class="bi bi-bank2"></i>. Add Department</button>
            
          </div>
          <table class="table">
            <h2 class="mt-5">Total Department: {{ department|length }}</h2>
            {% if department %}
            
            <thead>
              
              <tr>
                <th>S/N</th>
                <th>Name</th>
                <th>Level</th>
              </tr>
            </thead>
            
            <tbody>
              {% for i in department %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.name}}</td>
                <td>{{i.level}}</td>
              </tr>
              {% endfor %}
            </tbody>
            {% else %}
              <center><h2 style="font-weight: bolder;" class="text-danger mt-5"> NO DEPARTMENT FOUND</h2></center>
              {% endif %}
          </table>
    
        </div>

    </div>
</section>



{% endblock content %}