{% extends 'main.html' %}
{% load static %}

{% block content %}
<style>
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
</style>

<section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2><span id="greeting-icon"></span> <span id="greeting-text"></span> {{user.first_name}}</h2>
        <ol>
          <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
          <li>Import Questions</li>
          <li></li>
        </ol>
      </div>

    </div>
  </section>



  <section class="inner-page">
    <div class="container-fluid">
      <div class="container">
        <a href="{% url 'excel-download2' %}"><button type="button" class="btn btn-primary"><i class="bi bi-upload"></i>. Download Sample Template</button></a>
        
      </div>
      <br><br>
      <div style=" justify-content: center; align-items: center; height: 90vh; text-align: center;">
        <h1>Follow this example below</h1>
        <div>
          <img src="{% static 'assets/img/template_sample2.JPG' %}" alt="Your Image">
          <br><br>
          <center>
            <p>
              <form enctype="multipart/form-data" action="{% url 'import-question-data' %}" method="POST" class="col-lg-5">
                {% csrf_token %}
                <div class="mb-3 mt-3">
                  <label for="" class="text-danger">file must be in 'xlsx', 'csv', xlx </label>
                  <input name ='import_file' type="file" class="form-control" required>
                  
                </div>
                <div class="mb-3 mt-3">
                  <label for="">Choose Course that owns this importing questions.</label>
                  <select class="form-select" name='course' required>
                    {% for i in course %}
                    <option value="{{i.name}}">{{i.name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <button type="submit" class="btn btn-success" >Upload</button>
              </form>
            </p>
          </center>
        </div>

    </div>

    </div>
</section>
{% endblock content %}