{% extends 'main.html' %}
{% load static %}

{% block content %}
<style>

</style>

<div class="pagetitle">
    <h1>All Level</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item">All Level</li>
        <li class="breadcrumb-item"></li>
      </ol>
    </nav>
  </div>
  <section class="section">
    <div class="container-fluid">
        <div class="container">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addLevel"><i class="bi bi-menu-button-wide"></i>. Add Level</button>
            
          </div>
          <table class="table table-hover">
            <h2 class="mt-5">Total Levels: {{ level|length }}</h2>
            {% if level %}
            
            <thead>
              
              <tr>
                <th>S/N</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
            </thead>
            
            <tbody>
              {% for i in level %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.name}}</td>
                <td><a class="btn btn-success" href="{% url 'edit-level' i.id %}"><i class="bi bi-pencil"></i> edit</a></td>
              </tr>
              {% endfor %}
            </tbody>
            {% else %}
              <center><h2 style="font-weight: bolder;" class="text-danger mt-5"> NO LEVEL FOUND</h2></center>
              {% endif %}
          </table>
    
        </div>

    </div>
</section>
{% endblock content %}