{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>E_CBT</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.jpeg' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      {% if user.groups.all.0.name == 'admin' %}
      <a href="{% url 'admin_dashboard' %}" class="logo d-flex align-items-center">
        <img src="{% static "assets/img/login.jpeg" %}" alt="" title="Logo">
        <span class="d-none d-lg-block" >E_CBT</span>
      </a>
      {% endif %}
      {% if user.groups.all.0.name == 'student' %}
      <a href="{% url 'student_dashboard' %}" class="logo d-flex align-items-center">
        <img src="{% static "assets/img/login.jpeg" %}" alt="" title="Logo">
        <span class="d-none d-lg-block">E_CBT</span>
      </a>
        {% endif %}
      <i class="bi bi-list toggle-sidebar-btn" title="collapse Menu Bar"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <div class="d-flex align-items-center">
        <h4><span id="greeting-icon"></span> <span id="greeting-text"></span> {{user.first_name}}</h4>
      </div>
    </div>
   

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

       
          <a class="nav-link nav-profile d-flex align-items-center p-0" href="#">
            <img src="{% static "assets/img/icon.jpg" %}" alt="" class="rounded-circle m-5" title="Profile Picture">
          </a>

          
          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav>

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        {% if user.groups.all.0.name == 'student' %}
        <a class="nav-link collapsed" href="{% url 'student_dashboard' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
        {% endif %}
        {% if user.groups.all.0.name == 'admin' %}
        <a class="nav-link collapsed" href="{% url 'admin_dashboard' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
        {% endif %}
      </li><!-- End Dashboard Nav -->

      {% if user.is_authenticated %}
      {% if user.groups.all.0.name == 'admin' %}
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>LEVEL (session)</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="#" data-bs-toggle="modal" data-bs-target="#addLevel">
              <i class="bi bi-circle"></i><span>Add Level</span>
            </a>
          </li>

          <li>
            <a href="{% url 'levels' %}">
              <i class="bi bi-circle"></i><span>View all Level</span>
            </a>
          </li>
          
          
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bank2"></i><span>DEPARTMENT</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
         <li>
          <li>
            <a href="#" data-bs-toggle="modal" data-bs-target="#addDepartment">
              <i class="bi bi-circle"></i><span>Add Department</span>
            </a>
          </li>
            <a href="{% url 'department' %}">
              <i class="bi bi-circle"></i><span>View all Department</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>COURSE</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'import-courses' %}">
              <i class="bi bi-circle"></i><span>Import Courses</span>
            </a>
          </li>
          <li>
            <a href="{% url 'course' %}">
              <i class="bi bi-circle"></i><span>View all Courses</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-person-square"></i><span>STUDENT</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'all-student' %}">
              <i class="bi bi-circle"></i><span>List Students</span>
            </a>
          </li>
          <li>
            <a href="{% url 'import-students' %}">
              <i class="bi bi-circle"></i><span>Import Students</span>
            </a>
          </li>
          
          <li>
            <a href="#" data-bs-toggle="modal" data-bs-target="#deleteAllStudent">
              <i class="bi bi-circle"></i><span>Delete all Students</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Charts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-question-square-fill"></i><span>QUESTION</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'import-question' %}">
              <i class="bi bi-circle"></i><span>Import Questions</span>
            </a>
          </li>
          <li>
            <a href="{% url 'question' %}">
              <i class="bi bi-circle"></i><span>View all Questions</span>
            </a>
          </li>
          <li>
            <a href="#" data-bs-toggle="modal" data-bs-target="#deleteAllQuestion">
              <i class="bi bi-circle"></i><span>Delete all Questions</span>
            </a>
          </li>
          
        </ul>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#result-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-file-earmark-medical-fill"></i><span>RESULT</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="result-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'all_results' %}">
              <i class="bi bi-circle"></i><span>View all Student Results</span>
            </a>
          </li>
          <li>
            <a href="#" data-bs-toggle="modal" data-bs-target="#resetAllResult">
              <i class="bi bi-circle"></i><span>Reset all Student Result</span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Icons Nav -->
          
      <li class="nav-heading">Links</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'e-pin' %}">
          <i class="bi bi-shield-lock"></i>
          <span>E-Pin</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'examaccess' %}">
          <i class="bi bi-mailbox2"></i>
          <span>Exam Control</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'studentaccess' %}">
          <i class="bi bi-person"></i>
          <span>Access Control</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'exammode' %}">
          <i class="bi bi-mailbox2"></i>
          <span>Students in Exam Mode</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'submitmode' %}">
          <i class="bi bi-mailbox2"></i>
          <span>Students submitted</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 't_c' %}">
          <i class="bi bi-patch-exclamation-fill"></i>
          <span>ReadMe T/C and functions</span>
        </a>
      </li>

      {% endif %}
      {% if user.groups.all.0.name == 'student' %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'student-course-mark' %}">
          <i class="bi bi-file-earmark-medical-fill"></i>
          <span>Exam Scores</span>
        </a>
      </li>
      {% endif %}
      {% endif %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'changepassword' %}">
          <i class="bi bi-key"></i>
          <span>Change Password</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout_user' %}">
          <i class="bi bi-box-arrow-left"></i>
          <span>Logout</span>
        </a>
      </li>
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

{% block content %}
  
{% endblock content %}
  
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

  {% include 'footer.html' %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



  <div class="modal fade" id="deleteAllStudent" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete All Student</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p style="font-weight: bolder;">
            !!!! ARE YOU SURE YOU WANT TO DELETE ALL STUDENTS
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{% url 'del-all-student' %}?next={{ request.GET.next }}"><button type="button" class="btn btn" style=" background-color: #E6101B; color: white;">Yes, Sure</button></a>
        
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="deleteAllQuestion" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete All Questions</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p style="font-weight: bolder;">
            !!!! ARE YOU SURE YOU WANT TO DELETE ALL QUESTIONS
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{% url 'del-all-question' %}?next={{ request.GET.next }}"><button type="button" class="btn btn" style=" background-color: #E6101B; color: white;">Yes, Sure</button></a>
        
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="resetAllResult" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Reset All Results</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p style="font-weight: bolder;">
            !!!! ARE YOU SURE YOU WANT TO RESET ALL RESULTS?
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="{% url 'del-all-results' %}?next={{ request.GET.next }}"><button type="button" class="btn btn" style=" background-color: #E6101B; color: white;">Yes, Sure</button></a>
        
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="addDepartment" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Department</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'add-department' %}?next={{ request.GET.next }}">
            {% csrf_token %}
            <div class="mb-3 mt-3">
              <input name ='department' type="text" class="" placeholder="Department Name" required>
            </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" >Add Department</button>
        </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="addLevel" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Level</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'add-level' %}?next={{ request.GET.next }}">
            {% csrf_token %}
            <div class="mb-3 mt-3">
              <input name ='name' type="text" class="" placeholder="Level Name: e.g: HND 1" required>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" >Add Level</button>
        </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="addCourse" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Course</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'add-course' %}?next={{ request.GET.next }}">
            {% csrf_token %}
            <div class="mb-3 mt-3">
              <input name ='name' type="text" class="" placeholder="Enter Course Name" required>
            </div>
            <div class="mb-3 mt-3">
              <input name ='mark' type="number" class="" placeholder="Enter Course Total Marks" required>
            </div>
            <div class="mb-3 mt-3">
              <input name ='duration' type="number" class="" placeholder="Enter Course Duration in Minutes" required>
            </div>
            <div class="mb-3 mt-3">
              <select multiple class="select1" name='department'>
                <option value="">Choose Department</option>
                {% for i in department %}
                <option class="mt-2" value="{{i.name}}">{{i.name}}</option>
                {% endfor %}
              </select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" >Submit</button>
        </form>
        </div>
      </div>
    </div>
  </div>





  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static '/jquery/jquery.min.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script>
            
window.onload = function() {
  const greetingIconElement = document.getElementById('greeting-icon');
  const greetingTextElement = document.getElementById('greeting-text');
  const currentTime = new Date();
  const currentHour = currentTime.getHours();

  let greetingIcon;
  let greetingMessage;

  if (currentHour >= 5 && currentHour < 12) {
    greetingIcon = '🌞';
    greetingMessage = 'Good morning';
  } else if (currentHour >= 12 && currentHour < 18) {
    greetingIcon = '☀️';
    greetingMessage = 'Good afternoon';
  } else {
    greetingIcon = '🌆';
    greetingMessage = 'Good evening';
  }

  greetingIconElement.textContent = greetingIcon;
  greetingTextElement.textContent = greetingMessage;
};
  </script>

  {% include "msg.html" %}
</body>

</html>