{% extends 'main.html' %}
{% load static %}

{% block content %}
<style>
</style>


<div class="pagetitle">
  <h1>Question</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item">Question</li>
      <li class="breadcrumb-item"></li>
    </ol>
  </nav>
</div>
<section class="section">
    <div class="container-fluid">
        <div class="container">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addQuestion"><i class="bi bi-question-square-fill"></i>. Add Question</button>
            <a href="{% url 'import-question' %}"><button type="button" class="btn btn-primary"><i class="bi bi-upload"></i>. Import Questions</button></a>
            <a href="#"><button data-bs-toggle="modal" data-bs-target="#deleteAllQuestion" type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i>. Reset all Question</button></a>
            <button data-bs-toggle="modal" data-bs-target="#filterCourse" type="button" class="btn btn-info text-white"><i class="bi bi-filter"></i>. Filters</button>
          </div>
        <div class="container">
            {% if course %}
            <div class="row col-lg-12">
                {% for i in course %}
                <div class="card col-lg-4 shadow border-0 mt-4 p-5">
                    <div class="card-body">
                        <center>
                    <p class="text-muted">
                        <i class="bi bi-book-fill" style="font-size:50px;" ></i>
                    </p><br>
                        <p style="font-size:30px; font-weight: bolder;" class="text-secondary">
                                {{i.name}}
                        </p>

                        <p>
                            <a href="{% url 'question-details' i.id %}">click Here to view this Course Questions</a>
                    </p>
                    
                        </center>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
          <center><h2 style="font-weight: bolder;" class="text-danger mt-5"> NO QUESTION FOUND</h2></center>
          {% endif %}
        </div>
    </div>
</section>

<div class="modal fade" id="addQuestion" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add Question</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{% url 'add-question' %}?next={{ request.GET.next }}">
            {% csrf_token %}
            <div class="mb-3 mt-3">
                <select multiple class="select1" name='course' required>
                  <option value="">Choose Course that owns this Question</option>
                  {% for i in course %}
                  <option class="mt-2" value="{{i.name}}">{{i.name}}</option>
                  {% endfor %}
                </select>
              </div>
            <div class="mb-3 mt-3">
              <input name ='mark' type="number" class="" placeholder="Question mark" required>
            </div>
            <div class="mb-3 mt-3">
              <textarea name ='question' class="" placeholder="Type Question" required></textarea>
            </div>
            <div class="mb-3 mt-3">
              <input name ='A' type="text" class="" placeholder="Option1" required>
            </div>
            <div class="mb-3 mt-3">
                <input name ='B' type="text" class="" placeholder="Option2" required>
              </div>
              <div class="mb-3 mt-3">
                <input name ='C' type="text" class="" placeholder="Option3" required>
              </div>
              <div class="mb-3 mt-3">
                <input name ='D' type="text" class="" placeholder="Option4" required>
              </div>
            <div class="mb-3 mt-3">
              <select class="select" name='answer'>
                <option value="">Correct Option</option>
                <option value="A">Option1</option>
                <option value="B">Option2</option>
                <option value="C">Option3</option>
                <option value="D">Option4</option>
              </select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" >Submit</button>
        </form>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="filterCourse" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Filter Course</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="get">
            <div class="mb-3 mt-3">
              <input name ='name' type="text" class="" placeholder=" Course Name" >
            </div>
            <div class="mb-3 mt-3">
              <select class="select" name='department'>
                <option value="">Choose Department</option>
                {% for i in department %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
              </select>
            </div>
  
            <div class="mb-3 mt-3">
              <select class="select" name='course__level'>
                <option value="">Choose Course Level</option>
                {% for i in level %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
              </select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success" >Filter</button>
        </form>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}