{% extends 'main.html' %}
{% load static %}

{% block content %}
<style>

</style>


<div class="pagetitle">
  <h1>Verify Students information</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{% url 'import-students' %}">Import Student</a>
      <li class="breadcrumb-item">Verify Students information</li>
      <li class="breadcrumb-item"></li>
    </ol>
  </nav>
</div>
<section class="section">


    <div class="container-fluid">

<form autocomplete="off" method="post" action="{% url 'verify-student-data' %}">
    {% csrf_token %}
    <table class='table'>
      <p class='text-info'>{{count}} student information is found in {{new_data}}, view below to verify</p>
      <thead>  <!-- Add thead element for the table header -->
        <tr>
          
                <th>First Name</th>
                <th>Last Name</th>
                <th>Matric No</th>
                <th>Department</th>
            
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row.first_name }}</td>
      <td>{{ row.last_name }}</td>
      <td>{{ row.userid }}</td>
      <td>{{ row.department }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit" class='btn btn-success' name="confirm" value="Confirm">
    <a type="button" class='btn btn-danger' href="{% url 'import-students' %}">Cancel</a>
</form>



</div>
</section>
{% endblock content %}